<div class="row">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Filter by Suburb</span>
        </div>
        <input ng-model="findSuburb" placeholder="Enter suburb name" type="text">
    </div>
</div>
<hr />
<div class="row">
    <h4>List has
        {{result.length}}
        entries.</h4>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Suburb Name</th>
                <th>Date / Time</th>
                <th>aqi_site</th>
                <th class="d-none d-md-table-cell">aqi_o3_1hr</th>
                <th class="d-none d-md-table-cell">aqi_o3_4hr</th>
                <th class="d-md-none">aqi_o3_1hr / aqi_o3_4hr</th>
                <th class="d-none d-md-table-cell">aqi_pm2_5</th>
                <th class="d-none d-md-table-cell">aqi_pm10</th>
                <th class="d-md-none">aqi_pm2_5 / aqi_pm10</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="aqEntry in result=(aqData | filter: findSuburb)">
                <td>{{aqEntry.name}}</td>
                <td>{{aqEntry.date | date:'dd/MM/yyyy'}}<br />{{aqEntry.time}}</td>
                <td>{{aqEntry.aqi_site}}</td>
                <td class="d-none d-md-table-cell">{{aqEntry.aqi_o3_1hr}}</td>
                <td class="d-none d-md-table-cell">{{aqEntry.aqi_o3_4hr}}</td>
                <td class="d-md-none">1hr: {{aqEntry.aqi_o3_1hr}}<br />4hr: {{aqEntry.aqi_o3_4hr}}</td>
                <td class="d-none d-md-table-cell">{{aqEntry.aqi_pm2_5}}</td>
                <td class="d-none d-md-table-cell">{{aqEntry.aqi_pm10}}</td>
                <td class="d-md-none">pm2_5: {{aqEntry.aqi_pm2_5}}<br />pm10: {{aqEntry.aqi_pm10}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="alert alert-warning" ng-if="result.length == 0">
        <h3>No results found.</h3>
    </div>
</div>
